# {{ ansible_managed }}

127.0.0.1	localhost.localdomain localhost
::1         localhost6 localhost6.localdomain6

#{{ ansible_default_ipv4.address }}	{{ sethostname }}

10.0.17.73 ERC-DB1M ERC-DB1M.fdc.fssprus.local
10.0.17.75 ERC-DB2M ERC-DB2M.fdc.fssprus.local

10.0.17.81 ERC_APP1 ERC_APP1.fdc.fssprus.local
10.0.17.82 ERC_APP2 ERC_APP2.fdc.fssprus.local
10.0.17.83 ERC_APP3 ERC_APP3.fdc.fssprus.local
10.0.17.84 ERC_APP4 ERC_APP4.fdc.fssprus.local
10.0.17.85 ERC_APP5 ERC_APP5.fdc.fssprus.local
10.0.17.86 ERC_APP6 ERC_APP6.fdc.fssprus.local

10.0.17.90 ERC_APP0 ERC_APP0.fdc.fssprus.local

10.0.17.91 ERC_DB1  ERC_DB1.fdc.fssprus.local
10.0.17.92 ERC_DB2  ERC_DB2.fdc.fssprus.local
10.0.17.93 ERC_DB3  ERC_DB3.fdc.fssprus.local

10.0.17.190 unitynfs unitynfs.fdc.fssprus.local
